{{main-menu}}

<ul class="list-unstyled col-md-8">
	<li class="row">
		<img class="img-thumbnail col-md-5" src={{content.poster}} alt="">
		<div class='col-md-7'>
			{{#link-to 'product' product.id tagName="h2"}} {{content.name}} {{/link-to}}
			<p>{{content.description}}</p>
			<p>Price: ${{content.price}}</p>
			<p>Items in Stock: {{content.itemsInStock}}</p>
			<p> {{format-date content.date}} </p>
			<button {{action 'addToCart' content.id content.name content.price content.itemsInStock}}  class='btn btn-sucess'>Add To Cart</button>
		</div>
	</li>
</ul>